<article *ngIf="post$ | async as post">
    <header class="post__header">
        <h1 class="post__title title title--black">{{post.title | titlecase}}</h1>
    </header>
    <section class="post__body">
        {{post.body | textShorter | titlecase}}
    </section>
    <footer class="post__footer">
        <button class="post__author-button button button--t-black"  routerLink="/users/{{post.userId}}/posts" >See all posts by author</button>
        <button  class="post__delete-button button button--t-black button--b-red" (click)="deletePost(post.id)">Delete Post</button>
    </footer>   
</article>